<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorator="layout">
	<head>
		<meta charset="UTF-8"/>
		<title>Detalhes do usuario</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  />
		<link rel="stylesheet" type="text/css" href="/css/site.css" />
		<script src="common-script.js"></script>
	</head>
	<body>
		<div layout:fragment="content" class="margem-top-min centralizar">
			<form class="form-group" th:object="${user}">
				<div class="container">
				
					<div class="form-group linha">
						<label class="control-label margem-direita coluna"> UserName </label>
						<label th:text="*{userName}"></label>
						<hr/>
					</div>
					
					<div class="form-group linha">
						<label class="control-label margem-direita coluna">Permissao</label>
				 		<label th:text="*{permissao}"></label>
				 		<hr/>
					</div>
					
					<div class="form-group linha">
						<label class="control-label margem-direita coluna">Situação</label>
				 		<label th:text="*{situacao}"></label>
				 		<hr/>
					</div>
					
		        </div>     
			</form>
		</div>
	</body>
</html>