@model Locadora.Web.MVC.ViewModels.JogoLocacaoModel

<div class="conteiner-img-descicao block">
    <div class="inline-block tamanhoPadrao">
        <img class="img-responsive" src="@Model.Imagem" />
    </div>

    <div class="descricao-jogo-locacao right">
        <div>
            Descrição: @Model.Descricao
        </div>
    </div>
</div>

