@model Locadora.Web.MVC.ViewModels.JogoLocacaoModel

<div class="conteiner-img-descicao">
    <div class="inline-block tamanhoPadrao left">
        <img class="img-responsive" src="@Model.Imagem" />
    </div>

    <div class="descricao-jogo right">
        <p>
            Descrição: @Model.Descricao
        </p>
    </div>
</div>

