<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorator="layout">
	<head>
		<meta charset="UTF-8" />
		<title>Insert title here</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  />
		<link rel="stylesheet" type="text/css" href="/css/site.css" />
		<script src="common-script.js"></script>
	</head>
	<body>
	
		<div layout:fragment="content">
			<div class="margem-top-min centralizar alert alert-info" th:if="${menssagemFlash != null}">
				<p th:text="${menssagemFlash}"></p>
			</div>
			<div class="margem-top" th:if="${not #lists.isEmpty(clientes)}" >
				<table class="table table-striped table-bordered table-hover">
				    <thead>
						<tr>
			                <th>Id</th>
			                <th>Nome</th>
			                <th>Email</th>
			                <th>CPF</th>
			                <th>Visualizar</th>
			                <th>Editar</th>
			                <th>Desativar</th>
			            </tr>
		            </thead>  
		            <tr th:each="cliente : ${clientes}">
		            	<td th:text="${cliente.id}"><a th:href="@{|/clientes/${cliente.id}|}"></a></td>
		            	<td th:text="${cliente.nome}"></td>
		            	<td th:text="${cliente.email}"></td>
		            	<td th:text="${cliente.cpf}"></td>
		            	<td><a th:href="@{|/clientes/${cliente.id}|}">visualizar</a></td>
		            	<td><a th:href="@{|/clientes/editar/${cliente.id}|}">editar</a></td>
		            	<td><a th:href="@{|/clientes/remover/${cliente.id}|}">desativar</a></td>
		            </tr>			
				
				</table>		
			</div>
		</div>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>