<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Insert title here</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  />
		<link rel="stylesheet" type="text/css" href="/css/site.css" />
	</head>
	<body>
		<form th:action="@{/clientes/remover}" th:object="${cliente}" method="post">
			<div class="container-form">
			
				<div class="form-group">
					<input class="form-control" th:field="*{id}" type="hidden"/>
				</div>
				
				<div class="form-group">
					<label class="control-label">Nome: </label>
					<input class="form-control" th:field="*{nome}" type="text" disabled="true"/>
				</div>
				
				<div class="form-group">
					<label class="control-label">CPF: </label>
			 		<input class="form-control" th:field="*{cpf}" type="text" disabled="true"/>
				</div>
				
				<div class="form-group">
			 		<label class="control-label">Endereco: </label>
			 		<input class="form-control" th:field="*{endereco}" type="text" disabled="true"/>
		 		</div>
		 		
		 		<div class="form-group">
			 		<label class="control-label">Bairro: </label>
			 		<input class="form-control" th:field="*{bairro}" type="text" disabled="true"/>
		 		</div>
		 		
		 		<div class="form-group">
			 		<label class="control-label">Cep: </label>
			 		<input class="form-control" th:field="*{cep}" type="text" disabled="true"/>
		 		</div>
				
				<div class="form-group">
			 		<label class="control-label">Email: </label>
			 		<input class="form-control" th:field="*{email}" type="text" disabled="true" />
		 		</div>
		 		
		 		<div class="form-group">
			 		<label class="control-label">Cidade: </label>
			 		<select class="form-control" th:field="*{idCidade}" disabled="true">
		                <option th:each="cidade : ${cidades}" th:text="${cidade.nome}" th:value="${cidade.idCidade}" ></option>
		            </select>
	            </div>
	             
	            <button type="submit">remover</button>
	        </div>   
		</form>		
			
		<div class="container-form">
			<form th:action="@{/clientes}">
				<button type="submit">cancelar</button>			
			</form>
		</div>	 
			
		
		<h3 style="text-align:center;">voce tem certeza que quer remover este cliente?</h3>
		
	
	</body>
</html>