<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorator="layout">
	<head>
		<meta charset="UTF-8" />
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  />
		<script src="common-script.js"></script>
	</head>
	<body>
		
		<div layout:fragment="content">
			<h1 class="titulo" >Bem vindo à lavanderia crescer</h1>
		</div>
			
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>