@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center">Locadora Enterprise</h2>

<div class="text-center top-margin">
    <img class="img-responsive" style="margin:0 auto;" src="@Url.Content("~/Content/Images/crash.png")">
</div>

<p class="text-center">Somos a maior locadora movel da galáxia.</p>

<div class="text-center top-margin">
    <p>Pesquise aqui um jogo pelo nome</p>
    <form action='@Url.Action("JogosDisponiveis", "Relatorio")' method="get"/>
        <input  class="" type="text" placeholder="Nome do jogo" name="nomeJogo"/>
        <input class="btn" type="submit" value="Pesquisar" />
    </form>
</div>
<div class="text-center" style="width: 350px;">
    <div class="fb-like" data-href="http://localhost:56771/Home/Index" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
