@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center">Locadora Enterprise</h2>

<div class="text-center top-margin">
    <img class="img-responsive" style="margin:0 auto;" src="@Url.Content("~/Content/Images/crash.png")">
</div>

<p class="text-center">Somos a maior locadora movel da galáxia.</p>

