@{
    ViewBag.Title = "Home Page";
}

<h2>Locadora Mochi Games</h2>
<ul >
    <li>
        <a href="/Relatorio/JogosDisponiveis">Lista De Jogos</a>
    </li>
</ul>

<img src="@Url.Content("~/Content/Images/crash.png")" />