<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorator="layout">
	<head>
		<meta charset="UTF-8" />
		<title>Item</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  />
		<link rel="stylesheet" type="text/css" href="/css/site.css" />
		<script src="common-script.js"></script>
	</head>
	<body>
	
		<div th:fragment="lista-itens">
			<div class="grid-cliente" th:if="${not #lists.isEmpty(pedido.itens)}" >
				<table class="table table-striped table-bordered table-hover">
				    <thead>
						<tr>
			                <th>Valor Total</th>
			                <th>Material</th>
			                <th>Servico</th>
			                <th>Situacao</th>
			                <th>Processar</th>
			            </tr>
		            </thead>  
		            <tr th:each="item : ${pedido.itens}">
		            	<td th:text="${item.valorTotal}"></td>
		            	<td th:text="${item.material}"></td>
		            	<td th:text="${item.servico}"></td>
		            	<td th:text="${item.situacao}"></td>          	
		            	<td >
		            		<div th:if="${pedido.situacaoName != 'ENCERRADO'}">
		            			<a th:if="${pedido.situacaoName == 'PROCESSANDO'}" th:href="@{|/item/status/processar/${item.idItem}|}">Processar</a>
		            		</div>
		            	</td>	           	
		            </tr>						
				</table>	
				<div th:if="${pedido.situacaoName != 'PROCESSANDO'}">
					<div th:if="${pedido.situacaoName != 'ENCERRADO'}">
						<p>Para processar os itens a situação do pedido deve ser
							PROCESSANDO, para isso você deve voltar e clicar em <strong><i>finalizar</i></strong>			
							, para finalizar o processo de inclusão de itens. se o link não aparecer 
							é porque o pedido ja foi processado ou/e encerrado. 
						</p>
					</div>
				</div>	
				<div class="alert alert-info" th:if="${pedido.situacaoName == 'ENCERRADO'}">
					<p>
						pedido foi encerrado, :D .
					</p>
				</div>
			</div>
			<div class="margem-top-min centralizar alert alert-info" th:if="${menssagemFlash != null}">
				<p th:text="${menssagemFlash}"></p>
			</div>
		</div>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>