/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Nome]
  FROM [LocadoraDeJogos_Code_First].[dbo].[Permicao]

  INSERT INTO dbo.permicao VALUES ('ADMIN');
  INSERT INTO dbo.permicao VALUES ('OPERADOR');