
@{
    ViewBag.Title = "Locadora Home Page";
}


<h3>Bem vindo á locadora de jogos online</h3>
<p>esta é a pagina da locadora de games Sun Games, aqui você encontra os mais variados tipos de jogos por um preço ótimo.</p>

